/* disable hover effect of sorting buttons */
span.column-header--sort {
  background-color: unset !important;
  color: unset !important;
}

.dashboard-wrapper {
  margin: 2em 1em 0em 1em;
}

.dashboard-container {
  max-width: 1400px;
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .dashboard-wrapper {
      margin: 1em 0.5em 0em 0.5em;
  }
}


