<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
  <title>Lenox Chat & Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="chat-container">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Lenox Chat Logo" class="chat-logo">
      <h2>Lenox Chat & Dashboard</h2>
      <!-- Separate Dashboard Access Button -->
      <div class="dashboard-button-container">
        <button class="dashboard-btn" onclick="location.href='/dashboard/'">Access Dashboard</button>
      </div>

      <!-- Dropdown Menu for exploring features -->
      <div class="dropdown">
        <button class="dropbtn">Explore Features</button>
        <div class="dropdown-content">
  
          <a href="#">Plot a line chart showing the normalized correlation between Bitcoin and Ethereum prices of last month, ensuring that both lines start from same point.</a>
          <a href="#">Fetch and rank the DEX and provide your Insights to the numbers?</a>
          <a href="#">Provide a daily breakdown of Ethereum network activity and analyse for a potential buy.</a>
          <a href="#">Fetche daily and weekly NFT market volume and activity metrics across major marketplaces and provide your two favorits for a short-term investment.</a>
          <a href="#">Analyze the relative performance of different crypto sectors.</a>
          <a href="#">Fetch data on Bitcoin ETFs, including TVL, market share, and fees and provide an analysis.</a>
          <a href="#">Research and provide a comprehensive analysis of the DePIN market within the cryptocurrency sector.</a>
          <a href="#">Analyze Ethereum staking data, including deposits, withdrawals, and net inflows for different entities.</a>
          <a href="#">Make an analysis on bitcoin top holders.</a>
          <a href="#">Lets analyze polygon gaming metrics.</a>
          <a href="#">What's the total number of cryptocurrencies in the market right now, and how does this compare to last month?</a>
          <a href="#">Provide a comprehensive overview of the tokenization market.</a>
          <a href="#">Analyze the current memecoin trading activity.</a>
          <a href="#">Compare the trading signals for Bitcoin on different top exchanges.</a>
          <a href="#">What are the most recent large bitcoin transactions?</a>
          <a href="#">Analyze performance data for various cryptocurrency categories.</a>
          <a href="#">Provide a comrehensive analysis of token mentions in Farcaster posts over tha past week.</a>
          <a href="#">Retrieve volume metrics for decentralized exchanges (DEX) on Solana.</a>
          <a href="#">Analyze the current price of Binance Coin against its historical prices and provide a comment.</a>
          <a href="#">Fetch the latest news from CryptoPanic.</a>
          <a href="#">Retrieve the list of trending cryptocurrencies on CoinGecko.</a>
          <a href="#">Fetch 24h OHLCV data for Ripple and provide your comment.</a>
          <a href="#">Provide the latest posts from r/CryptoCurrency subreddit and comment each post.</a>
          <a href="#">Search youtube for the latest video on solana and analyze the content.</a>
          <a href="#">Provide information about AI-related tokens with significant trading volume.</a>
          <a href="#">Provide in-depth insights into the NFT market and prepare a comprehensive investment report.</a>
          <a href="#">Give me the trading volume of Dogecoin for each day in the past week.</a>
          <a href="#">Can you give me the historical annual returns for Bitcoin?</a>
          <a href="#">Fetch the latest pair created on the Ethereum network.</a>
          </a>
        </div>
      </div>
    </div>
    <div id="chat-messages" class="chat-messages"></div>
    <div id="visualization" class="visualization-placeholder bot-message"></div>
    <div class="chat-input-container">
      <textarea id="query" class="chat-input" placeholder="Ask Lenox something..." autofocus></textarea>
      <button id="sendButton">Send</button>
      <div class="audio-control">
        <button id="startRecording">Start Recording</button>
        <button id="stopRecording" disabled>Stop Recording</button>
      </div>
    </div>
    <div class="upload-container">
      <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileUpload">Upload Chart:</label>
        <input type="file" id="fileUpload" name="file" multiple>
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <div id="loadingIndicator" class="loading-indicator" style="display: none;">
    <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Loading...">
  </div>
</body>

</html>