<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
  <title>Lenox Chat & Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="chat-container">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Lenox Chat Logo" class="chat-logo">
      <h2>Lenox Chat & Dashboard</h2>
      <!-- Separate Dashboard Access Button -->
      <div class="dashboard-button-container">
        <button class="dashboard-btn" onclick="location.href='/dashboard/'">Access Dashboard</button>
      </div>

      <!-- Dropdown Menu for exploring features -->
      <div class="dropdown">
        <button class="dropbtn">Explore Features</button>
        <div class="dropdown-content">
  
          <a href="#">Plot a line chart showing the normalized correlation between Bitcoin and Ethereum prices of last month, ensuring that both lines start from same point.</a>
          <a href="#">Provide the latest posts from r/CryptoCurrency subreddit and comment each post.</a>
          <a href="#">Compare the current Fear and Greed Index with the volume of whale transactions for Ethereum in the past 24 hours.</a>
          <a href="#">Compare Binance Coin's (BNBUSDT) current price to its weekly average and provide your comment.</a>
          <a href="#">Fetch the most recent crypto news headline and provide a detailed analysis of its potential impact.</a>
          <a href="#">List me the latest 10 crypto news headlines and provide the URLs and provide some comments.</a>
          <a href="#">Research and provide a comprehensive analysis of the DePIN market within the cryptocurrency sector.</a>
          <a href="#">What are the top 5 trending cryptocurrencies on CoinGecko right now?</a>
          <a href="#">Compare the OHLC data of Bitcoin and Ethereum for the 24h.</a>
          <a href="#">What are the global cryptocurrency market metrics, including total market cap, 24h volume, and Bitcoin dominance, converted to JPY?</a>
          <a href="#">What's the total number of cryptocurrencies in the market right now, and how does this compare to last month?</a>
          <a href="#">Show me the latest global metrics for a bird's-eye view of the crypto market.</a>
          <a href="#">Show me the latest social media statistics for Ethereum.</a>
          <a href="#">Compare the trading signals for Bitcoin on different top exchanges.</a>
          <a href="#">What are the most recent large cryptocurrency transactions?</a>
          <a href="#">Check YouTube for the latest videos about Polkadot.</a>
          <a href="#">Provide in-depth insights into the NFT market and prepare a comprehensive investment report.</a>
          <a href="#">Give me the trading volume of Dogecoin for each day in the past week.</a>
        </div>
      </div>
    </div>
    <div id="chat-messages" class="chat-messages"></div>
    <div id="visualization" class="visualization-placeholder bot-message"></div>
    <div class="chat-input-container">
      <textarea id="query" class="chat-input" placeholder="Ask Lenox something..." autofocus></textarea>
      <button id="sendButton">Send</button>
      <div class="audio-control">
        <button id="startRecording">Start Recording</button>
        <button id="stopRecording" disabled>Stop Recording</button>
      </div>
    </div>
    <div class="upload-container">
      <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileUpload">Upload Chart:</label>
        <input type="file" id="fileUpload" name="file" multiple>
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <div id="loadingIndicator" class="loading-indicator" style="display: none;">
    <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Loading...">
  </div>
</body>

</html>